<!DOCTYPE html>
<html>
<head>
<title>Student View</title>
</head>
<body>

<h1>Detail of Student </h1>
<img src="C:\Users\mishra.shashank\Documents\School\school\static\images\bear-grylls.jpg" width="250" height="300">
{% for stu in student %}

  	<div style="position: absolute;top: 100px;right: 1000px">Name: </div>

	<div style="position: absolute;top: 100px;right: 940px">{{stu.name<!DOCTYPE html>
	<html>
	<head>
		<title></title>
	</head>
	<body>
	
	</body>
	</html>ame}} </div>
	<div style="position: absolute;top: 140px;right: 1005px">Class: </div>
	<div style="position: absolute;top: 140px;right: 960px">12th </div>
	<div style="position: absolute;top: 180px;right: 960px">RollNumber: </div>
	<div style="position: absolute;top: 180px;right: 870px">16 </div>
	<div style="position: absolute;top: 220px;right: 995px">Gender: </div>
	<div style="position: absolute;top: 220px;right: 965px">M </div>
{% endfor %}
<br></br>
<button onclick="myFunction()">Like</button>
<button onclick="myFunction()">Dislike</button>
<p>This is a paragraph.</p>

</body>
</html>